@import url("https://fonts.googleapis.com/css2?family=Marmelad&display=swap");

:root {
  --primary-color: #009696;
  --fs-xxl: 48px;
  --fs-xl: 32px;
  --fs-l: 24px;
  --fs-m: 20px;
  --fs-sm: 18px;
  --fs-xs: 16px;
  --fs-xxs: 14px;
  --spacing-1x: 16px;
  --spacing-2x: calc(var(--spacing-1x) * 1.5);
  --spacing-3x: calc(var(--spacing-2x) * 1.5);
  --spacing-4x: calc(var(--spacing-3x) * 1.5);
  --spacing-5x: calc(var(--spacing-4x) * 1.5);
  --spacing-6x: calc(var(--spacing-5x) * 1.5);
  --spacing-7x: calc(var(--spacing-6x) * 1.5);
  --spacing-8x: calc(var(--spacing-7x) * 1.5);
  --spacing-9x: calc(var(--spacing-8x) * 1.5);
  --spacing-10x: calc(var(--spacing-9x) * 1.5);
  --spacing-11x: calc(var(--spacing-10x) * 1.5);
  --spacing-12x: calc(var(--spacing-11x) * 1.5);
  --spacing-13x: calc(var(--spacing-12x) * 1.5);
  --spacing-14x: calc(var(--spacing-13x) * 1.5);
  --spacing-15x: calc(var(--spacing-14x) * 1.5);
  --spacing-16x: calc(var(--spacing-15x) * 1.5);
}

h1 {
  font-size: var(--fs-xxl);
  margin: 0;
}

h2 {
  font-size: var(--fs-xl);
  margin: 0;
}

h3 {
  font-size: var(--fs-l);
  border-bottom: 2px solid rgb(128, 128, 128, 0.2);
  margin: 0 0 24px;
}

h4 {
  font-size: var(--fs-m);
  margin: 0;
}

h5 {
  font-size: var(--fs-sm);
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: Helvetica;
}

*,
:before,
:after {
  box-sizing: inherit;
}

body {
  background: #ffffff;
  line-height: 1.5;
}

ul {
  padding-left: 20px;
  margin: 0;
}

.work a {
  text-decoration: none;
  color: inherit;
  border-bottom: 3px solid var(--primary-color);
}

.work .work-instance {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 24px;
}

.work .work-instance .work-instance-employee {
  color: var(--primary-color);
}

.work .work-instance-meta {
  display: flex;
  justify-content: space-between;
  opacity: 0.6;
  font-style: italic;
}

a:not(li > a) {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #009696;
}

.resume {
  display: grid;
  max-width: 55rem;
  margin: auto;
  margin-top: 3rem;
  grid-template-columns: 1.5fr;
  grid-template-areas: "name" "contact" "about" "work" "education" "skills" "references";
  grid-row-gap: 24px;
  padding: 2rem;
  grid-column-gap: 4.5rem;
  -webkit-box-shadow: 0px 2px 22px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 2px 22px 0px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 2px 22px 0px rgba(0, 0, 0, 0.43);
}

.name {
  grid-area: name;
  text-align: center;
}

.name > h1 {
  padding: 0;
  margin: 0 0 24px;
}

.name > h4 {
  color: #009696;
  margin: 0;
}

.name > h5 {
  margin: 0;
}

.about {
  grid-area: about;
}

.contact {
  grid-area: contact;
}

.contact > div {
  padding: 0;
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact > div > a,
.contact > div > span {
  display: flex;
  gap: 15px;
  width: 100%;
  border-radius: 5px;
  justify-content: flex-end;
}

.contact > ul > li {
  padding: 0.2rem 0;
}

.contact > ul > li > i {
  padding: 0 0.7rem;
}

.contact > ul > li > a {
  color: black;
  text-decoration: none;
}

.work {
  grid-area: work;
}

.work > p {
  color: #009696;
}

.work > p > time,
.work > p > span {
  color: grey;
}

.skills {
  grid-area: skills;
}

.education {
  grid-area: education;
}

.education > h5 {
  color: #009696;
}

.education div {
  display: flex;
  justify-content: space-between;
  opacity: 0.6;
  font-style: italic;
}

.projects {
  grid-area: projects;
}

.projects > .blocks > span {
  border: 1px solid black;
  border-radius: 0.2rem;
  padding: 0.2rem;
  margin: 0.2rem 0.3rem;
}

hr {
  width: 100%;
  margin: auto;
  padding: 0;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, grey, #ccc);
}

.summary {
  margin: 15px 0;
  grid-area: summary;
}

.summary > p {
  margin: 0;
}

@media screen and (min-width: 900px), print {
  .resume {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "name contact" "about about" "work work" "skills skills"
      "education education";
  }
  .name {
    text-align: justify;
    justify-content: center;
  }

  .contact > ul {
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #009696;
    color: white;
    border-radius: 5px;
  }

  .contact > ul > li > a {
    color: white;
  }
}

@media screen and (min-width: 1200px), print {
  .resume {
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas:
      "name contact" "summary ." "work about" "work skills" "work education"
      "work education";
  }
}
